<div>
<h1>Welcome to Students Help desk Support</h1>

<div>
 <%= image_tag "Setup.gif", class: "center" %>
</div>

<p class= "home-text">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper felis nec sem volutpat, vitae pellentesque ligula elementum. Nunc ut sem non erat tempus convallis eget eget turpis. Integer est ipsum, auctor quis dictum et, cursus nec ante. Phasellus a tortor a elit aliquam ullamcorper quis eget dolor. Sed in placerat nisi, a tempor dui. In felis enim, varius eu dignissim vel, tempor quis arcu. Sed auctor risus a ex congue, sit amet pellentesque enim pretium.
</p>

<%
=begin%>
 <button class = "btn">
    <%= link_to "Problems", problems_path %>
</button> 
<%
=end%>

<nav>
    <a href="/problems">Problems</a>
    <a href="/solutions">Solutions</a>
</nav>

</div>
