<div id="<%= dom_id vote %>">
  <p>
    <strong>User:</strong>
    <%= vote.user_id %>
  </p>

  <p>
    <strong>Solution:</strong>
    <%= vote.solution_id %>
  </p>

  <p>
    <strong>Upvote:</strong>
    <%= vote.upvote %>
  </p>

</div>
