<div id="<%= dom_id solution %>">
  <p>
    <strong>Description:</strong>
    <%= solution.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= solution.user_id %>
  </p>

  <p>
    <strong>Problem:</strong>
    <%= solution.problem_id %>
  </p>

</div>
